.a-view-letter-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.a-header {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.a-close-icon {
  cursor: pointer;
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.a-content {
  display: flex;
  flex: 1;
  padding: 10px;
}

.a-iframe-container {
  flex: 1; /* Reduced by 10% from 1.2 */
  margin-right: 30px;
  margin-left: 20px;
  border-radius: 5px; /* Added border radius */
  overflow: hidden;
}

.a-file-viewer {
  width: 100%;
  height: 100%;
  border: none;
}

.a-remarks-container {
  flex: 0.9; /* Reduced by 10% from 1 */
  display: flex;
  flex-direction: column;
  border: 1px solid #262626;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px; /* Add more margin to the left side */
  margin-right: 20px;
}

.a-remarks-container h1 {
  flex: 1;
  padding: 5px 10px;
}

.a-designation-radiobuttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.a-radiobutton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.a-designation-row {
  display: flex;
  align-items: center;
}

.a-radiobutton input {
  margin-right: 5px;
}

.a-remark-box {
  width: 90%;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  overflow-wrap: anywhere;
}

.a-remark-text {
  flex: 1;
  margin-right: 10px;
}

.a-text-muted {
  text-align: right;
  white-space: nowrap;
}

.a-mark-complete-button {
  width: 150px;
  height: 42px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
}
